<section class="about" id="about">
  <div class="container">
    <img srcset="./img/about/instrument.jpg 1x,
      ./img/about/instrument@2x.jpg 2x" src="./img/about/instrument.jpg" alt="Hands with instrument" width="640"
      height="456">
    <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>
    <p class="about-text">Handmade Jewelry began as a passion project, inspired by the beauty of nature and the desire
      to create meaningful
      pieces. Each item is crafted with love, reflecting our commitment to sustainability and the unique story of its
      maker.</p>
    <ul class="about-list">
      <li>Inspired by Nature</li>
      <li>Handcrafted with Love</li>
      <li>Every Piece Tells a Story</li>
    </ul>
  </div>
</section>