<section class="contacts" id="contacts">
  <div class="container contacts-container">
    <div class="contacts-title-wrapper">
      <p class="contacts-subtitle">Connect</p>
      <div class="contacts-title-text-wrapper">
        <h2 class="contacts-title">Order your unique jewelry</h2>
        <p class="contacts-text">We'd love to hear more details from you!</p>
      </div>
    </div>
    <div class="contacts-address-form-wrapper">
      <address class="contacts-address">
        <ul class="contacts-list">
          <li class="contacts-item">
            <svg class="contacts-icon" width="32" height="32">
              <use href="./img/icons.svg#envelope"></use>
            </svg>
            <div class="contacts-info">
              <p class="contacts-heading">Email</p>
              <a class="contacts-link" href="mailto:info@handmadejewelry.com" target="_blank"
                rel="noopener noreferrer">info@handmadejewelry.com</a>
            </div>
          </li>
          <li class="contacts-item">
            <svg class="contacts-icon" width="32" height="32">
              <use href="./img/icons.svg#phone"></use>
            </svg>
            <div class="contacts-info">
              <p class="contacts-heading">Phone</p>
              <a class="contacts-link" href="tel:+15550000000" target="_blank" rel="noopener noreferrer">+1 (555)
                000-0000</a>
            </div>
          </li>
          <li class="contacts-item">
            <svg class="contacts-icon" width="32" height="32">
              <use href="./img/icons.svg#map"></use>
            </svg>
            <div class="contacts-info">
              <p class="contacts-heading">Office</p>
              <a class="contacts-link" href="https://maps.app.goo.gl/49ZjYmBqBvh312n56" target="_blank"
                rel="noopener noreferrer">76-8 Oakington Manor Dr, London, UK</a>
            </div>
          </li>
        </ul>
      </address>
      <form class="contacts-form">
        <div class="contacts-form-item">
          <label class="contacts-label" for="name">Name*</label>
          <input class="contacts-input name-input" type="text" id="name" name="name" placeholder="Tony"
            pattern="^[a-zA-Z\s\.]{5,28}$" required />
          <p class="name-invalid">Invalid name</p>
        </div>
        <div class="contacts-form-item">
          <label class="contacts-label" for="phone">Phone*</label>
          <input class="contacts-input phone-input" type="tel" id="phone" name="phone" placeholder="+1 234 567 8900"
            pattern="^\+[0-9\s]{14}$" required />
          <p class="phone-invalid">Invalid phone number</p>
        </div>
        <div class="contacts-form-item">
          <label class="contacts-label" for="message">Describe what you want</label>
          <textarea class="contacts-textarea" id="message" name="message" placeholder="Type your message..."
            maxlength="500"></textarea>
        </div>
        <button class="contacts-form-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>