<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <div class="gallery-title-wrapper">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-title-text">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <ul class="gallery-picture-list">
          <li class="gallery-picture-item">
            <div class="gallery-picture-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/purple-beads.jpg    1x,
                    ./img/gallery/desktop/purple-beads@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/gallery/tablet/purple-beads.jpg    1x,
                    ./img/gallery/tablet/purple-beads@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/purple-beads.jpg    1x,
                    ./img/gallery/mobile/purple-beads@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="gallery-picture-image"
                  src="./img/gallery/mobile/purple-beads.jpg"
                  alt="A purple beads"
                />
              </picture>
            </div>
          </li>
          <li class="gallery-picture-item">
            <div class="gallery-picture-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/orange-keychain.jpg    1x,
                    ./img/gallery/desktop/orange-keychain@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/gallery/tablet/orange-keychain.jpg    1x,
                    ./img/gallery/tablet/orange-keychain@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/orange-keychain.jpg    1x,
                    ./img/gallery/mobile/orange-keychain@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="gallery-picture-image"
                  src="./img/gallery/mobile/orange-keychain.jpg"
                  alt="An orange keychain"
                />
              </picture>
            </div>
          </li>
        </ul>
      </li>
      <li class="gallery-item">
        <ul class="gallery-picture-list">
          <li class="gallery-picture-item">
            <div class="gallery-picture-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/necklace.jpg    1x,
                    ./img/gallery/desktop/necklace@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/gallery/tablet/necklace.jpg    1x,
                    ./img/gallery/tablet/necklace@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/necklace.jpg    1x,
                    ./img/gallery/mobile/necklace@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="gallery-picture-image"
                  src="./img/gallery/mobile/necklace.jpg"
                  alt="A necklace"
                />
              </picture>
            </div>
          </li>
          <li class="gallery-picture-item">
            <div class="gallery-picture-wrapper">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/sunflower-thing.jpg    1x,
                    ./img/gallery/desktop/sunflower-thing@2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/gallery/tablet/sunflower-thing.jpg    1x,
                    ./img/gallery/tablet/sunflower-thing@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/sunflower-thing.jpg    1x,
                    ./img/gallery/mobile/sunflower-thing@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="gallery-picture-image"
                  src="./img/gallery/mobile/sunflower-thing.jpg"
                  alt="A sunflower earrings"
                />
              </picture>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
