<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <div class="gallery-title-wrapper">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-title-text">
        Discover the beauty of our handcrafted jewelry in style.
      </p>
    </div>
    <ul class="gallery-columns">
      <li class="column">
        <img
          class="gallery-image big"
          src="./img/gallery/purple-beads.jpg"
          srcset="
            ./img/gallery/purple-beads.jpg    1x,
            ./img/gallery/purple-beads-2x.jpg 2x
          "
          alt="A purple beads"
        />
        <img
          class="gallery-image"
          src="./img/gallery/orange-keychain.jpg"
          srcset="
            ./img/gallery/orange-keychain.jpg    1x,
            ./img/gallery/orange-keychain-2x.jpg 2x
          "
          alt="An orange keychain"
        />
      </li>
      <li class="column">
        <img
          class="gallery-image"
          src="./img/gallery/necklace.jpg"
          srcset="
            ./img/gallery/necklace.jpg    1x,
            ./img/gallery/necklace-2x.jpg 2x
          "
          alt="A necklace"
        />
        <img
          class="gallery-image big"
          src="./img/gallery/sunflower-thing.jpg"
          srcset="
            ./img/gallery/sunflower-thing.jpg    1x,
            ./img/gallery/sunflower-thing-2x.jpg 2x
          "
          alt="A sunflower earrings"
        />
      </li>
    </ul>
  </div>
</section>
