<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Jewelry Showcase</h2>
    <p class="gallery-text">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/purple-beads.jpg"
          srcset="
            ./img/gallery/purple-beads.jpg    1x,
            ./img/gallery/purple-beads-2x.jpg 2x
          "
          alt="A purple beads"
          width="335"
          height="335"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/orange-keychain.jpg"
          srcset="
            ./img/gallery/orange-keychain.jpg    1x,
            ./img/gallery/orange-keychain-2x.jpg 2x
          "
          alt="An orange keychain"
          width="335"
          height="335"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/necklace.jpg"
          srcset="
            ./img/gallery/necklace.jpg    1x,
            ./img/gallery/necklace-2x.jpg 2x
          "
          alt="A necklace"
          width="335"
          height="335"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-image"
          src="./img/gallery/sunflower-thing.jpg"
          srcset="
            ./img/gallery/sunflower-thing.jpg    1x,
            ./img/gallery/sunflower-thing-2x.jpg 2x
          "
          alt="A sunflower earrings"
          width="335"
          height="335"
        />
      </li>
    </ul>
  </div>
</section>
