<header class="header">
  <div class="container header-container">
    <a class="header-nav-logo" href="#" aria-label="Handmade Jewelry">
      <svg class="header-nav-logo-icon" width="160" height="68">
        <use href="./img/mobile-logo.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <a class="header-button" href="#contacts">Order Now</a>
    <button class="header-mobile-menu-button" type="button" aria-label="Open menu" data-mobile-menu-open>
      <svg class="header-mobile-menu-icon" width="24" height="24">
        <use href="./img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>