<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-nav-logo" href="./index.html" aria-label="Handmade Jewelry">
        <svg class="header-nav-logo-icon" width="160" height="68">
          <use href="./img/mobile-logo.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <a class="header-button" href="#contacts"></a>
      <button class="header-mobile-menu-btn" type="button" aria-label="Open menu">
        <svg class="header-mobile-menu-icon" width="24" heigh="24">
          <use href="./img/icons.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
