<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-nav-logo" href="./index.html" aria-label="Handmade Jewelry">
        <svg class="header-nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link {=$highlight-act}" href="./page-2.html">Page 2</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link {=$highlight-curr}" href="./page-3.html">Page 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
