<div class="mobile-menu-overlay">
  <div class="mobile-menu is-open">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-btn-svg" width="24" height="24">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <a href="#" class="mobile-menu-logo">
          <svg class="mobile-menu-logo-icon" width="149" height="47">
            <use href="./img/mobile-logo.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a href="#about" class="mobile-menu-nav-link">About us</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#benefits" class="mobile-menu-nav-link">Benefits</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#gallery" class="mobile-menu-nav-link">Gallery</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#testimonials" class="mobile-menu-nav-link"
              >Testimonials</a
            >
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#contacts" class="mobile-menu-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="mobile-menu-order-btn" type="button">Order Now</button>
    </div>
  </div>
</div>
