<div class="mobile-menu-overlay" data-mobile-menu>
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close-btn" type="button" data-mobile-menu-close>
        <svg class="mobile-menu-close-btn-svg" width="24" height="24">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <div class="mobile-menu-header">
          <a href="#" class="mobile-menu-logo" aria-label="Handmade Jewelry">
            <svg class="mobile-menu-logo-icon" width="149" height="47">
              <use href="./img/mobile-logo.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <div class="mobile-menu-list-button-wrapper">
          <ul class="mobile-menu-nav-list">
            <li class="mobile-menu-nav-item">
              <a href="#about" class="mobile-menu-nav-link">About us</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a href="#benefits" class="mobile-menu-nav-link">Benefits</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a href="#gallery" class="mobile-menu-nav-link">Gallery</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a href="#testimonials" class="mobile-menu-nav-link">Testimonials</a>
            </li>
            <li class="mobile-menu-nav-item">
              <a href="#contacts" class="mobile-menu-nav-link">Contacts</a>
            </li>
          </ul>
          <button class="mobile-menu-order-button" type="button">Order Now</button>
        </div>
      </nav>
    </div>
  </div>
</div>