<div class="mobile-menu-overlay">
  <div class="mobile-menu is-open">
    <div class="mobile-menu-container">
      <button class="mobile-close-btn" type="submit">
        <svg class="mobile-close-btn-svg" width="24" height="24">
          <use href="../img/icons.svg#close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <a href="" class="mobile-menu-logo">
          <svg class="mobile-menu-logo-icon" width="149" height="47">
            <use href="./img/mobile-logo.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-list-item">
            <a href="" class="mobile-menu-nav-list-item-link">About us</a>
          </li>
          <li class="mobile-menu-nav-list-item">
            <a href="" class="mobile-menu-nav-list-item-link">Benefits</a>
          </li>
          <li class="mobile-menu-nav-list-item">
            <a href="" class="mobile-menu-nav-list-item-link">Gallery</a>
          </li>
          <li class="mobile-menu-nav-list-item">
            <a href="" class="mobile-menu-nav-list-item-link">Testimonials</a>
          </li>
          <li class="mobile-menu-nav-list-item">
            <a href="" class="mobile-menu-nav-list-item-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="mobile-order-btn">Order Now</button>
    </div>
  </div>
</div>
