<section class="testimonials" id="testimonials">
  <div class="container testimonials-container">
    <div class="testimonials-title-wrapper">
      <h2 class="testimonials-title">Customer testimonials</h2>
      <p class="testimonials-text">Absolutely love my new earrings! They are stunning.</p>
    </div>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <img
          class="feedback-img"
          srcset="
            ./img/testimonials/woman.jpg    1x,
            ./img/testimonials/woman@2x.jpg 2x
          "
          src="./img/testimonials/woman.jpg"
          alt="Woman"
        />
        <img
          class="feedback-img"
          srcset="
            ./img/testimonials/man.jpg    1x,
            ./img/testimonials/man@2x.jpg 2x
          "
          src="./img/testimonials/man.jpg"
          alt="Man"
        />
        <!--
        <picture class="feedback-img"></picture>
        <picture class="feedback-img"></picture>
-->
        <div class="feedback-rating">
          <div class="feedback-star-wrapper">
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="feedback-text">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="feedback-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item is-reversed">
        <img
          class="feedback-img"
          srcset="
            ./img/testimonials/ring.jpg    1x,
            ./img/testimonials/ring@2x.jpg 2x
          "
          src="./img/testimonials/ring.jpg"
          alt="Ring"
          width="335"
          height="260"
        />
        <img
          class="feedback-img"
          srcset="
            ./img/testimonials/cap.jpg    1x,
            ./img/testimonials/cap@2x.jpg 2x
          "
          src="./img/testimonials/cap.jpg"
          alt="Cap"
          width="335"
          height="260"
        />
        <!--        
        <picture class="feedback-img"></picture>
        <picture class="feedback-img"></picture>
-->
        <div class="feedback-rating">
          <div class="feedback-star-wrapper">
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="../img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="feedback-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="feedback-author">Jane Edison</p>
        </div>
      </li>
    </ul>
  </div>
</section>
