<section class="testimonials" id="testimonials">
  <div class="container testimonials-container">
    <div class="testimonials-title-wrapper">
      <h2 class="testimonials-title">Customer testimonials</h2>
      <p class="testimonials-text">
        Absolutely love my new earrings! They are stunning.
      </p>
    </div>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="feedback-image-wrapper">
          <picture>
            <source
              srcset="
                ./img/testimonials/woman-desktop.jpg    1x,
                ./img/testimonials/woman-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/testimonials/woman-tablet.jpg    1x,
                ./img/testimonials/woman-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/testimonials/woman-mobile.jpg    1x,
                ./img/testimonials/woman-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="feedback-image"
              src="./img/testimonials/woman-mobile.jpg"
              alt="Woman with earrings"
            />
          </picture>
          <div class="feedback-image-overlay">
            <p class="feedback-image-overlay-text">
              This approach highlights the jewelry being worn by a happy
              customer, making the product the star while showcasing its
              real-world appeal. &quot;Close-up of a diverse female model's hand
              gently touching her handmade bracelet, subtle smile, soft natural
              lighting, shallow depth of field, elegant and genuine, minimalist
              background.&quot; &quot;A woman's ear adorned with a handmade
              earring, her head slightly tilted, soft focus on her joyful
              expression in the background, natural light, warm
              tones.&quot;&quot;Someone's neck showcasing ad
            </p>
          </div>
        </div>
        <div class="feedback-image-wrapper">
          <picture>
            <source
              srcset="
                ./img/testimonials/man-desktop.jpg    1x,
                ./img/testimonials/man-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/testimonials/man-tablet.jpg    1x,
                ./img/testimonials/man-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/testimonials/man-mobile.jpg    1x,
                ./img/testimonials/man-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="feedback-image"
              src="./img/testimonials/man-mobile.jpg"
              alt="Man wearing a pendant"
            />
          </picture>
          <div class="feedback-image-overlay">
            <p class="feedback-image-overlay-text">
              This option focuses on the emotional connection, showing genuine
              happiness or appreciation.&quot;Close-up portrait of a smiling
              woman in her late 20s, looking genuinely happy, wearing a delicate
              handmade ring on her finger. Soft, diffused natural light from a
              window, warm and inviting atmosphere, subtle background blur,
              authentic expression.&quot;&quot;A candid shot of a man's face,
              slightly out of focus, as he admires a handmade pendant he's
              wearing. Soft, warm studio lighting, genuine look of appreciation,
              clean backg
            </p>
          </div>
        </div>
        <div class="feedback-rating">
          <div class="feedback-star-wrapper">
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="feedback-text">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="feedback-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item is-reversed">
        <div class="feedback-image-wrapper">
          <picture>
            <source
              srcset="
                ./img/testimonials/ring-desktop.jpg    1x,
                ./img/testimonials/ring-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/testimonials/ring-tablet.jpg    1x,
                ./img/testimonials/ring-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/testimonials/ring-mobile.jpg    1x,
                ./img/testimonials/ring-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="feedback-image"
              src="./img/testimonials/ring-mobile.jpg"
              alt="Close up of a ring"
            />
          </picture>
          <div class="feedback-image-overlay">
            <p class="feedback-image-overlay-text">
              &quot;Close-up studio shot of a diverse person's hands delicately
              holding and examining a handmade ring, natural lighting, soft
              focus on the ring's details, genuine and relaxed atmosphere.&quot;
            </p>
          </div>
        </div>
        <div class="feedback-image-wrapper">
          <picture>
            <source
              srcset="
                ./img/testimonials/cap-desktop.jpg    1x,
                ./img/testimonials/cap-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/testimonials/cap-tablet.jpg    1x,
                ./img/testimonials/cap-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/testimonials/cap-mobile.jpg    1x,
                ./img/testimonials/cap-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="feedback-image"
              src="./img/testimonials/cap-mobile.jpg"
              alt="Hands holding coffee cup"
            />
          </picture>
          <div class="feedback-image-overlay">
            <p class="feedback-image-overlay-text">
              These prompts show the jewelry as part of a relaxed, everyday
              scene, suggesting comfort and effortless style.&quot;An overhead
              shot of a person's hands holding a cup of coffee, with a handmade
              bracelet subtly visible on their wrist. Cozy, relaxed setting,
              soft morning light, warm filter, authentic moment.&quot;&quot;A
              casual shot of someone reading a book, their hand gently resting
              on the page, showcasing a handmade ring. Soft, diffused light,
              warm and inviting atmosphere, relaxed and authentic.&quot;A
              person's shoulder an
            </p>
          </div>
        </div>
        <div class="feedback-rating">
          <div class="feedback-star-wrapper">
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
            <svg class="feedback-star is-marked" width="24" height="24">
              <use href="./img/icons.svg#star-outline"></use>
            </svg>
          </div>
          <p class="feedback-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="feedback-author">Jane Edison</p>
        </div>
      </li>
    </ul>
  </div>
</section>
