.container-about {
background-color: var(--color-scheme-2-background);
padding: 56px 20px;
}
.about-title {
font-family: var(--second-family);
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
color: var(--color-neutral-darkest);
margin-bottom: 24px;
}
.about-text {
font-family: var(--font-family);
font-size: 18px;
color: var(--color-neutral-darkest);
margin-bottom: 24px;
}
.about-list {
display: flex;
flex-direction: column;
gap: 24px;
}
.about-item {
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
color: var(--color-neutral-darkest);
}

