.contacts-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
}

.contacts-title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.contacts-title-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.contacts-title {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.contacts-text {
  font-size: 18px;
  line-height: 1.5;
}

.contacts-address-form-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.contacts-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.contacts-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.contacts-heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.contacts-link:focus,
.contacts-link:active
.contacts-link:disabled {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.contacts-form {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.contacts-form-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.contacts-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.contacts-input {
  height: 40px;
}

.contacts-textarea {
  height: 180px;
}

@media screen and (min-width: 768px) {
  .coontacts-title-wrapper {
    gap: 24px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 25px;
  }

  .contacts-item {
    width: calc((100% - 2 * 25px) / 3);
  }

  .contacts-form-button {
    padding-left: 98px;
    padding-right: 98px;
    max-width: 249px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-title {
    font-size: 48px;
  }

  .contacts-address-form-wrapper {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .contacts-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts-item {
    width: calc((100% - 32px) / 2);
  }

  .contacts-form {
    width: calc((100% - 32px) / 2);
    flex-shrink: 0;
  }

  .contacts-form-button {
    padding-left: 69px;
    padding-right: 69px;
    max-width: 192px;
  }
}
