.footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
  width: 100%;
}

.footer-logo-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.footer-logo-icon {
  width: 217px;
  height: auto;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.footer-social-icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.footer-copyright {
  width: 100%;
  padding-top: 32px;
  border-top: 1px solid var(--color-scheme-1-border);
}

.footer-copyright-text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .footer-logo-icon {
    width: 342px;
  }

  .footer-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-wrapper {
    align-items: flex-start;
    flex-direction: row;
  }

  .footer-logo-icon {
    width: 84px;
  }

  .footer-logo-social {
    align-items: flex-start;
  }

  .footer-social-item {
    width: 24px;
    height: 24px;
  }

  .footer-social-icon {
    width: 24px;
    height: 24px;
  }

  .footer-nav {
    min-width: 303px;
    margin-left: auto;
  }

  .footer-nav-list {
    align-items: flex-start;
  }
}
