.gallery-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.gallery-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.gallery-title {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.gallery-title-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.gallery-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: auto;
}

.column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: 335px;
}

.column img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery-container {
    gap: 80px;
  }

  .gallery-columns {
    display: flex;
    gap: 24px;
    height: 626px;
  }

  .column {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex: 1;
  }

  .column img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    flex: 1;
  }

  .column img.big {
    flex: 2;
  }
}
