.gallery-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.gallery-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.gallery-title {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.gallery-title-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.gallery-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.gallery-item {
  width: 100%;
}

.gallery-picture-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.gallery-picture-item {
  width: 100%;
}

.gallery-picture-wrapper {
  display: flex;
  width: 100%;
  height: 335px;
}

.gallery-picture-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery-container {
    gap: 80px;
  }

  .gallery-list {
    flex-direction: row;
    gap: 24px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
  }

  .gallery-picture-wrapper {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .gallery-item:nth-child(odd) {
    .gallery-picture-list {
      gap: 32px;

      .gallery-picture-item:nth-child(odd) {
        height: 368px;
      }

      .gallery-picture-item:nth-child(even) {
        height: 226px;
      }
    }
  }

  .gallery-item:nth-child(even) {
    .gallery-picture-list {
      gap: 24px;

      .gallery-picture-item:nth-child(odd) {
        height: 216px;
      }

      .gallery-picture-item:nth-child(even) {
        height: 386px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .gallery-title {
    font-size: 48px;
  }

  .gallery-list {
    gap: 32px;
  }

  .gallery-item {
    width: calc((100% - 32px) / 2);
  }

  .gallery-picture-list {
    gap: 32px;
  }

  .gallery-picture-list .galery-picture-item:nth-child(odd) {
    height: 640px;
  }

  .gallery-picture-list .galery-picture-item:nth-child(even) {
    height: calc(2 * 640px / 3);
  }
}
