html {
  scroll-padding-top: 72px;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 99;
  background-color: var(--color-scheme-2-background);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  padding: 0px 12px 0px 20px;
  background-color: var(--color-scheme-2-background);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.header-nav-list {
  display: none;
}

.header-mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 48px;
  height: 48px;
  line-height: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.header-mobile-menu-icon {
  fill: var(--color-scheme-2-background);
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
    gap: 24px;
    padding: 18px 32px;
    border-bottom: 1px solid var(--color-scheme-1-border);
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }

  .header-nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 36px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
  }

  .header-button {
    width: 119px;
    height: 36px;
  }

  .header-mobile-menu-button {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .header-nav {
    gap: 32px;
  }

  .header-nav-list {
    gap: 32px;
  }

  .header-button {
    width: 192px;
    margin-left: auto;
  }
}
