.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 375px;
  height: 656px;
  background-image:
    linear-gradient(
      var(--opacity-neutral-darkest-40),
      var(--opacity-neutral-darkest-40)
    ),
    url(../img/hero/hero-background-mobile.jpg);
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(
        var(--opacity-neutral-darkest-40),
        var(--opacity-neutral-darkest-40)
      ),
      url(../img/hero/hero-background-mobile@2x.jpg);
  }
}

.hero-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding-top: 160px;
  padding-bottom: 0px; 
}

.hero-title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.hero-title {
  font-family: var(--second-family);
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  box-sizing: border-box;
  border: 1px solid var(--color-laser);
  padding: 6px 12px;
  width: 100%;
  background-color: var(--color-laser);
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 864px;

    background-image:
      linear-gradient(
        var(--opacity-neutral-darkest-40),
        var(--opacity-neutral-darkest-40)
      ),
      url(../img/hero/hero-background-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image:
        linear-gradient(
          var(--opacity-neutral-darkest-40),
          var(--opacity-neutral-darkest-40)
        ),
        url(../img/hero/hero-background-tablet@2x.jpg);
    }
  }

  .hero-title-wrapper {
    gap: 32px;
    max-width: 513px;
  }

  .hero-button {
    gap: 8px;
    width: 217px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    width: 1440px;
    background-image:
      linear-gradient(
        var(--opacity-neutral-darkest-40),
        var(--opacity-neutral-darkest-40)
      ),
      url(../img/hero/hero-background-desktop.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image:
        linear-gradient(
          var(--opacity-neutral-darkest-40),
          var(--opacity-neutral-darkest-40)
        ),
        url(../img/hero/hero-background-desktop@2x.jpg);
    }
  }

  .hero-container {
    padding: 224px 0px 0px, 64px;
  }

  .hero-title-wrapper {
    max-width: 640px;
  }

.hero-title {
  font-size: 56px;
}

.hero-button {
    width: 192px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(
        var(--opacity-neutral-darkest-40),
        var(--opacity-neutral-darkest-40)
      ),
      url(../img/hero/background@2x.jpg);
  }
}
