.mobile-menu-overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu-overlay.is-open {
    display: none;
  }
}
